<h1>New division</h1>

<form action="/wizard_divide">
  <label for="seventh_number">
    Divide this:
  </label>
  <input id="seventh_number" name="seventh_number" type="text">

  <label for="eighth_number">
    by this:
  </label>
  <input id="eighth_number" name="eighth_number" type="text">
  
  <button>
    Divide!
  </button>
</form>
