<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="fifth_number">
    Multiply this:
  </label>
  <input id="fifth_number" name="fifth_number" type="text">


  <label for="sixth_number">
    by this:
  </label>
  <input id="sixth_number" name="sixth_number" type="text">

  <button>
    Multiply!
  </button>
</form>
