<h1>Subtraction</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @sub_first_num %></dd>

  <dt>Second number</dt>
  <dd><%= @sub_second_num %></dd>

  <dt>Result</dt>
  <dd><%= @sub_result %></dd>
</dl>

<a href="/subtract">Do another subtraction</a>
